/* Style for the page */

body {
    font-family: 'Montserrat', sans-serif;
    background-image: url('../images/background_sunset.png');
    background-repeat: no-repeat;
    background-size: cover;
    /* height: 100vh; */
}

